
/* ---------------------- GLOBAL STYLES ---------------------- */

/* Tillämpa box-sizing på alla element */
* {
    box-sizing: border-box; /* Gör så att padding inte påverkar storleken */
}

html, body {
    margin: 0;
    padding: 0;
}

/* Ställ in Inter som standardfont på hela sidan */
body {
  font-family: "Inter"; /* Använd Inter-fonten */
  font-weight: 400; /* Standard vikt (400, normal) */
  font-style: normal; /* Normalt (ej kursivt) */
}

/* typewriter animation*/
@keyframes typewriter {
  0% {width: 0;}
  100% {width: 8ch;}
}

/* typewriter animation*/
@keyframes cursor {
  0%{border-right-color: #fff;}
  100%{border-right-color: transparent;}
}

/* Animationen som definierar fade-in effekten */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

* main {
  padding-bottom: 100px;
  padding-top: 50px;
}
  
/* ---------------------- GLOBAL IMAGE STYLES ---------------------- */

body {
    background-image: url(../images/desktop-background.jpg);
    background-size: cover; /* Gör att bilden täcker hela området */
    background-position: center center; /* Centrerar bilden */
    background-attachment: fixed; /* Gör att bilden stannar på plats när man scrollar */
    height: 100%; /* Ser till att kroppen täcker hela höjden på skärmen */
}

  /* För tablet-enheter (max-bredd 1500px) */
  @media (max-width: 1500px) {
    body {
      background-image: url(../images/tablet-background.jpg);
    }
  }
  
  /* För mobila enheter (max-bredd 700px) */
  @media (max-width: 700px) {
    body {
      background-image: url(../images/mobile-background.jpg);
    }
  }

  /* ---------------------- HEADER/NAVIGATION SECTION ---------------------- */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Centrerar allt i headern vertikalt */
    width: 100%;
    padding: 20px;
}

.header-right {
  display: flex; /* Gör att GitHub-, linkedin-ikonen och navigationen är horisontella */
  align-items: center; /* Centrerar vertikalt */
  gap: 20px;
}

#header-h1 {
  font-variant: small-caps;
  font-weight: 300;
}

#github-icon, #linkedin-icon {
  color: #47596a; 
  font-size: 30px; /* Storlek på ikonen */
  text-decoration: none; /* Ta bort understrykning */
  transition: color 0.3s ease; /* Lägg till en smooth hover-effekt */
}

#github-icon:hover, #linkedin-icon:hover {
  color: #e28743; /* Ändrar färg vid hover */
}

#linkedin-link span, #github-link span {
  font-size: 16px;
}

/* Navigation links*/

nav {
  display: flex;
  list-style: none;
}

nav ul {
  display: flex; /* Gör så att listan också använder flexbox */
  padding: 0; /* Tar bort eventuell padding från ul */
  margin: 0; /* Tar bort eventuell margin från ul */
  list-style: none; /* Tar bort punkter från listan */
}

nav li {
  margin: 0 2px; /* Sätter 2px mellan varje länk */
}

nav a {
  font-size: 18px; /* Sätter textstorleken till 18px */
  text-decoration: none;
  color: #555;
  padding: 12px 12px;
  border-radius: 2px;
}

nav a:hover {
  background-color: #47596a;
  color: white; /* Ändrar textfärgen för att kontrastera med bakgrundsfärgen */
}

nav a.active {
  background-color: #47596a; 
  color: white; 
}

/* Hamburger-menyn */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: #47596a;
  border-radius: 5px;
}

#nav-mobile {
  display: none; /* Döljs som standard */
  flex-direction: column;
  background-color: rgba(199,208,217,0.3); /* Bakgrundsfärg för menyn med opacity*/
  width: 100%; /* Full bredd */
  padding: 10px 0;
}

#nav-mobile ul{
  flex-direction: column;
}

#nav-mobile li {
  margin: 2px; /* Utrymme mellan länkar */
}

#nav-mobile a {
  color: white; /* Textfärg */
  display: flex; /* Gör hela länken klickbar */
}

/* För skärmar max 1500px (tablet) */
@media (max-width: 1500px) {
  
  header {
    flex-direction: column;
    justify-content: center;
  }
}

/* För skärmar max 760px (phone) */
@media (max-width: 760px) {
  
  header {
    flex-direction: row; /* Ändra riktning till horisontell */
    justify-content: space-between;
    align-items: center; /* Centrerar dem vertikalt */
  }

  #github-icon {
    margin-right: 0;
  }

  #github-icon, #linkedin-icon {
    font-size: 20px; /* Storlek på ikonen */
  }

  #linkedin-link span, #github-link span {
    font-size: 12px;
  }

  .hamburger-menu {
    display: flex;
  }

  #header-h1 {
    font-size: 18px;
  }

  nav {
    display: none; /* Håller den ursprungliga nav-menyn dold */
  }

  #nav-mobile.active {
    display: flex; /* Visa menyn när aktiv */
}
}


/* ---------------------- HOME SECTION ---------------------- */

.section-home {

  display: flex;
  flex-direction: column;
}


#h2-home {
  font-size: 60px;
  color: #fff;
  letter-spacing: 10px;
  border-right: solid 2px black;
  width: fit-content;  /* Gör att bredden anpassas efter texten */
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 1s steps(10), cursor 1s steps(10) infinite;
  margin-left: 30px;
}

#p-home {
  font-size: 30px;
  color: #fff;
  width: 500px;
  margin-left: 30px;
  
  /*för att få p-taggen att fadeas in */
  opacity: 0; /* Gör elementet osynligt initialt*/
  animation: fadeIn 5s forwards; /* Startar animationen och behåller slutresultatet */

}

/* För skärmar max 1500px (tablet) */
@media (max-width: 1500px) {

  .section-home {
    align-items: center;
  }

  #h2-home {
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  #p-home {
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
}

/* För skärmar max 760px (phone) */
@media (max-width: 760px) {

  .section-home {
    align-items: center;
  }
  #h2-home {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  #p-home {
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    max-width: 300px;
  }
}

/* ---------------------- ABOUT ME SECTION ---------------------- */


.section-about {
  display: flex; /* Gör att sektionen använder flexbox */
  flex-direction: row; /* Stapla elementen vertikalt */
  align-items: center; /* Centrerar alla element horisontellt */
  justify-content: center;
  padding: 50px;
  gap: 30px;
}

#h2-about {
  font-size: 40px;
  color: #fff;
  letter-spacing: 10px;
  border-right: solid 2px black;
  width: fit-content;  /* Gör att bredden anpassas efter texten */
  white-space: nowrap;
  overflow: visible;
  animation: typewriter 1s steps(7), cursor 1s steps(7) infinite;
}

.profile-pic {
  border-radius: 200px; /* Gör bilden rund */
}

#p-about {
  font-size: 20px;
  color: white;
  padding: 20px; /* Lägger till lite inre avstånd så att texten inte sitter direkt på kanten */
  text-align: left; 
  line-height: 1.5;
  max-width: 500px;
  border-radius: 8px; /* Rundar hörnen för ett mjukare utseende */
  background-color: rgba(34,34,42,0.5); /* 50% opacitet */
  animation: fadeIn 5s forwards; /* Startar animationen och behåller slutresultatet */
}

/* För skärmar max 1500px (tablet) */
@media (max-width: 1500px) {

  .section-about {
    display: flex; /* Gör att sektionen använder flexbox */
    flex-direction: column; /* Stapla elementen vertikalt */
    gap: 10px;
  }

  #h2-about {
    font-size: 30px;
  }

  #p-about {
    font-size: 18px;
  }
  }

/* För skärmar max 760px (phone) */
@media (max-width: 760px) {

  .section-about {
    display: flex; /* Gör att sektionen använder flexbox */
    flex-direction: column; /* Stapla elementen vertikalt */
    padding: 0px;
    gap: 0px;
  }

  #h2-about {
    font-size: 20px;
  }

  #p-about {
    font-size: 14px;
    max-width: 300px;
  }
}


/* ---------------------- TECHNOLOGY SECTION ---------------------- */

.section-tech {
  position: relative;
  display: flex; /* Gör att sektionen använder flexbox */
  flex-direction: column; /* Stapla elementen vertikalt */
  align-items: center; /* Centrerar elementen horisontellt */
  justify-content: center;
}

#h2-techno {
  font-size: 40px;
  color: #fff;
  letter-spacing: 10px;
  border-right: solid 2px black;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 1s steps(10), cursor 1s steps(10) infinite;
}


/* Artiklar (Flexbox för att skapa responsiv layout) */
.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Skapar avstånd mellan artiklar */
  padding: 40px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerar elementen horisontellt */
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #47596a;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article:hover {
  transform: translateY(-5px);
}

.article img {
  width: 200px;
  height: 200px;
}

.article h2 {
  font-size: 20px;
  color: #47596a;
  margin-bottom: 10px;
}

.article p {
  font-size: 18px;
  color: #555;
}

.button {
  margin-top: auto;
  padding: 15px 15px; /* Skapar inre avstånd */
  font-size: 16px; /* Storlek på texten */
  font-weight: bold; /* Gör texten fet */
  color: #fff; /* Textfärgen */
  background-color: #47596a;
  border-radius: 5px; /* Rundar hörnen */
  text-align: center; /* Centrerar texten */
  text-decoration: none; /* Tar bort understrykningen från länken */
  transition: all 0.3s ease; /* Lägger till en mjuk övergångseffekt */
}

.button:hover {
  background-color: #3b4d5e; /* Ändrar bakgrundsfärgen vid hovring */
  transform: scale(1.05); /* Gör knappen lite större vid hovring */
}

.button:active {
  transform: scale(0.95); /* Gör knappen lite mindre när den klickas */
}

#filter-container {
  display: none;
}

#filter-container.active{
  display: flex;
  position: absolute;
  font-size: 16px;
  top: 80px;
  right: 40px;
  gap: 10px;
  align-items: center;
}

#filter-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#filter-button {
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: 18px; /* Sätter textstorleken till 18px */
  color: #555;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}

#filter-button:hover {
  background-color: #47596a;
  color: white;
  transform: scale(1.05);
}

#filter-button.active {
  background-color: #47596a; /* Färg när knappen trycks ned */
  color: white; /* Ändra textfärg om du vill */
  transform: scale(0.95);
}

/* För skärmar max 1500px (tablet) */
@media (max-width: 1500px) {

  .article img {
    width: 150px;
    height: 150px;
  }

  #h2-techno {
    font-size: 30px;
  }

  .articles{
    grid-template-columns: repeat(2, 1fr);
  }

  .article h2 {
    font-size: 18px;
  }

  .article p {
    font-size: 16px;

  }

  .button {
    font-size: 14px; /* Storlek på texten */
  }

  #filter-container.active{
    font-size: 14px;
  }

  #filter-button {
    font-size: 16px; /* Sätter textstorleken till 18px */
  }
}

/* För skärmar max 760px (phone) */
@media (max-width: 760px) {

  .article img {
    width: 100px;
    height: 100px;
  }

  #h2-techno {
    font-size: 20px;
  }

  .articles{
    grid-template-columns: 1fr;
  }

  .article h2 {
    font-size: 16px;
  }

  .article p {
    font-size: 14px;
  }

  .button {
    font-size: 12px; /* Storlek på texten */
  }

  #filter-container.active{
    position: static;
    font-size: 14px;
  }

  #filter-button {
    position: static;
    font-size: 14px; /* Sätter textstorleken till 18px */
    margin: 20px 0;
  }
}

/* ---------------------- CONTACT SECTION ---------------------- */

.main-contact{
  display: flex;
  justify-content: center; 
}

.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  gap: 10px;
  padding: 30px;
  border: 1px solid #47596a;
  border-radius: 8px; /* Rundar hörnen för ett mjukare utseende */
  background-color: rgba(34,34,42,0.5); /* 50% opacitet */
  color: #fff; /* Sätter textfärgen */
}

.section-contact label {
  font-size: 16px;
  text-decoration: underline;
}

.section-contact p {
  font-size: 18px;
}

.customer-options {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}

#h2-contact {
  font-size: 40px;
  color: #fff;
  letter-spacing: 10px;
  border-right: solid 2px black;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 1s steps(8), cursor 1s steps(8) infinite;
}

.text-fields {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.text-fields:focus {
  border-color: #47596a;
  box-shadow: 0 0 5px rgba(72, 132, 154, 0.7);
  outline: none;
  border-radius: 12px;
}

.text-fields:focus, .text-fields:hover {
  background-color: #e0e0e0;
}


input[type="submit"] {
  background-color: #47596a;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Skugga för en lyft effekt */
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3b4d5e;
  transform: scale(1.05); /* Gör knappen större vid hovring */
}

input[type="submit"]:active {
  transform: scale(0.95); /* Gör knappen mindre vid klick */
}

#privacypolicy {
  transform: scale(1.3);
  margin-top: 10px;
}


/* För skärmar max 1500px (tablet) */
@media (max-width: 1500px) {

  .text-fields {
    font-size: 14px;
  }

  #h2-contact {
    font-size: 30px;
  }

  .section-contact label {
    font-size: 14px;
  }
  
  .section-contact p {
    font-size: 16px;
  }

}

/* För skärmar max 760px (phone) */
@media (max-width: 760px) {

  .text-fields {
    font-size: 14px;
  }

  #h2-contact {
    font-size: 20px;
  }

  .section-contact label {
    font-size: 14px;
  }
  
  .section-contact p {
    font-size: 16px;
  }
}

/* ---------------------- RESUME SECTION ---------------------- */

.resume {
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  row-gap: 30px;
  background-color: #e9e7ea;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 50px;
  box-shadow: 0 10px 50px #858585;
}

.resume-avatar {
  display: flex;
  justify-content: end;
  object-fit: cover;
}

.resume-title {
  padding-left: 30px;
  border-left: 1px solid #47596a;
}

#h2-name {
  font-weight: 300;
  font-size: xxx-large;
  margin: 0 0 5px;
}

#p-title {
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
}

.resume-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.resume-contact span {
  display: inline-block;
  background-color: #47596a;
  font-size: small;
  color: #fff;
  padding: 4px;
  margin-right: 10px;
  border-radius: 15px;
  text-align: center;
}

.resume-info ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  line-height: 30px;
}

.resume-intro {
  padding-left: 30px;
  border-left: 1px solid #47596a;
  text-align: justify;
}

#h2-intro {
  margin: 0;
}

.resume-experience {
  text-align: right;
}

.h4-experience {
  color: #47596a;
}

.resume-experience ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 25px;
}

.resume-project {
  padding-left: 30px;
  border-left: 1px solid #47596a;
  text-align: justify;
}

.p-projectlink {
  color: green;
  word-wrap: break-word;
  
}

.h3-project {
  position: relative;
}

.h3-project::after {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #47596a;
  content: '';
  border-radius: 50%;
  left: -37px;
}

/* För skärmar max 1500px (tablet) */
@media (max-width: 1500px) {

  #h2-name {
    font-size: xx-large;
  }

  .resume-contact {
    font-size: 14px;
  }

  .resume-contact span {
    font-size: 12px;
  }

  .resume li {
    font-size: 14px;
  }

  .resume h2 {
    font-size: 20px;
  }

  .resume h3 {
    font-size: 18px;
  }

  .resume h4 {
    font-size: 16px;
  }

  .resume p {
    font-size: 14px;
  }
}

/* För skärmar max 760px (phone) */
@media (max-width: 760px) {

  .resume {
    padding: 20px;
  }

  .resume-title, .resume-intro, .resume-project {
    padding-left: 10px;
  }

  #h2-name {
    font-size: large;
  }

  .resume-contact span {
    font-size: 7px;
  }

  .resume li {
    font-size: 12px;
  }

  .resume-title li {
    font-size: 10px;
  }

  .resume h2 {
    font-size: 18px;
  }

  .resume h3 {
    font-size: 16px;
  }

  .resume h4 {
    font-size: 12px;
  }

  .resume p {
    font-size: 12px;
  }

  #p-title {
    font-size: 7px;
  }

  .h3-project::after {
    width: 10px;
    height: 10px;
    left: -15px;
  }
}


/* ---------------------- FOOTER SECTION ---------------------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fixerar footern till en fast position */
  bottom: 0; /* Placerar footern vid sidans nederkant */
  left: 0; /* Sträcker sig från vänster sida */
  width: 100%; /* Gör att footern fyller hela sidans bredd */
  background-color: #d8dde1;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5); /* Skugga ovanför footern*/
  height: 80px;
  padding: 0 20px; /* Lägg till lite sidopadding */
}

.contact-links {
  display: flex;
  gap: 20px;
}

.footer-link {
  color: #47596a; 
  text-decoration: none; /* Tar bort understrykning */
  font-size: 16px; /* Storlek på text */
  font-weight: bold; /* Fetstil */
}

.footer-link:hover {
  color: #e28743; /* Ändrar färg vid hovring */
  transition: color 0.3s ease; /* Effekt vid hovring */
}

/* För skärmar max 760px (phone) */
@media (max-width: 700px) {

  .footer-link {
    display: block;
    font-size: 12px;
}

.contact-links{
  flex-direction: column;
  gap: 20px;  /* Lägg till avstånd mellan länkarna */
}

#p-footer {
  font-size: 12px;
  font-weight: 400;
}
}